@model global::WebClient.Models.AuctionViewModel

@{
    ViewBag.Title = "ViewAuctionDetails";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>@Html.LabelFor(x => x.Artwork.Title)</h2>
<div style="float: left; position: relative; text-align: center; line-height: 120px; height: 180px; width: 170px; margin: 10px;">
    <img style="width: 170px; border: red 2px solid; vertical-align: middle" src="/Images/Artworks/@Model.Artwork.ImgFileName" />
</div>
@Html.LabelFor(x => x.Artwork.Description)
<table>
    <tr>
        <td>Højeste nuværende bud</td>
        <td>@Html.LabelFor(x => x.Bid.Price)</td>
    </tr>
</table>
@using (Html.BeginForm("PlaceBid"))
{
    <table>
        <tr>
            <td>@Html.TextBoxFor(x => x.NextBid.Price)</td>
            <td><button type="submit">Byd</button></td>
        </tr>
    </table>
}